@import '../../../../public/styles/variables';

.contact-us{
  padding-top:50px;
  .form{
	width:70%;
	margin:auto;
	.title{
	  font-size: 32px;
	  margin-bottom: 10px;
	}
	.title-text{
	  font-size:20px;
	  margin-bottom: 20px;
	  text-align: center;
	}
	form{
	  background:$light-bg;
	  border-radius: 4px;
	  border:1px solid $border-color;
	  padding:20px;
	  overflow: hidden;
	  .btn{
		margin-top: 10px;
	  }
	}
  }
  p.title{
	text-align: center;
  }
}
.app {
  textarea {
	overflow:hidden;
  }
} 

