.card{
  width:302px;
  .card-header{
	.product-title{
	  margin-bottom: 2px;
	  text-align: center;
	  font-weight: 400;
	  margin-top: 0;
	  font-size: 18px;
	  color: #606060;
	  display:block;
	}
  }
  .card-body{
	.product-image{
	  .image{
		display: block;
		width:100%;
		height:252px;
		background-color: #e6e6e6;
	  }
	}
	.product-text{
	  line-height: 17px;
	  text-align: justify;
	  font-size: 12px;
	  margin-top: 5px;
	  margin-bottom: 5px;
	}
  }
  .card-footer{
	display: flex;
	justify-content: space-between;
	.product-range{
	  color: #606060;
	  font-size: 16px;
	  letter-spacing: 1px;
	}
	.product-action{
	  
	}
  }
}
