@import '../../../../public/styles/variables.scss';

.card {
  width: 100%;
  .card-header {
	.product-title {
	  margin-bottom: 2px;
	  text-align: center;
	  font-weight: 400;
	  margin-top: 0;
	  font-size: 18px;
	  color: $link-grey-color;
	  display: block;
	}
  }
  .card-body {
	.product-image {
	  position: relative;
	  .save-btn {
		display: none;
		position: absolute;
		top: 15px;
		right: 15px;
		padding: 5px;
		width: 76px;
		font-size: 20px;
	  }
	  .image {
		display: block;
		width: 100%;
		height: 252px;
		background-color: $thumbnail-bg;
	  }
	  &:hover {
		.save-btn {
		  display: block;
		}
	  }
	}
	.product-text {
	  line-height: 17px;
	  text-align: justify;
	  font-size: 12px;
	  margin-top: 5px;
	  margin-bottom: 5px;
	  font-family: $helvetica-font;
	}
  }
  .card-footer {
	display: flex;
	justify-content: space-between;
	.product-range {
	  color: $link-grey-color;
	  font-size: 16px;
	  letter-spacing: 1px;
	  .saves {
		font-size: 14px;
		i {
		  color: $link-grey-color;
		  &:hover {
			color: $brand-red;
		  }
		}
	  }
	}
	.product-action {

	}
  }
  .share{
	ul{
	  margin:0px;
	  li{
		display: inline-block;
		margin-right: 5px;
		a{
		  font-size:22px;
		  line-height: 22px;
		  &.facebook{
			color:$facebook-color;
		  }
		  &.twitter{
			color:$twitter-color;
		  }
		  &.pinterest{
			color:$pinterest-color;
		  }
		}
	  }
	}
  }
}

/* responsiveness */
@media (max-width: 992px) {
  .card {
	margin-bottom: 30px;
  }
}

/* /responsiveness */
