@import '../../../../public/styles/variables';

.app {
  background: $brand-white;
  font-family: $default-font;
  .container {
	width: 1000px;
  }
  ul {
	padding: 0px;
  }
  p {
	margin: 0;
	padding: 0;
  }
  a {
	text-decoration: none;
	cursor: pointer;
  }
  input {
	font-family: $helvetica-font;
  }
  textarea {
	max-height: 200px;
	height: 180px;
	resize: none;
	font-family: $helvetica-font;
  }
  .main-container {
	margin-top: 123px;
  }
  .content-center {
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-align: center;
	align-items: center;
	vertical-align: middle;
	text-align: center;
	display: -ms-flexbox;
	display: flex;
  }
  .btn-yellow {
	color: $brand-white;
	background-color: $primary-color;
	border-color: $primary-color;
  }
  .btn-red {
	color: $brand-white;
	background-color: $brand-red;
	border-color: $brand-red;
  }
  .btn {
	border-radius: 0px;
	font-size: 22px;
	font-weight: 400;
	text-shadow: 1px 1px rgba(0, 0, 0, .25);
	padding: 2px 8px;
  }
  .input-group-btn {
	.btn {
	  border-bottom-right-radius: 4px;
	  border-top-right-radius: 4px;
	  text-shadow: none;
	  padding: 6px 12px;
	  font-size: 14px;
	}
  }
}

/* responsiveness */
@media (min-width: 1400px) {
  .app .main-container {
	width: 1400px;
	border: 5px solid red;
	margin: 123px auto auto auto;
  }
}

@media (max-width: 1024px) {
  .app .container {
	width: 100%;
  }
}

@media (max-width: 992px) {

}

@media (max-width: 762px) {

}

@media (max-width: 520px) {

}

/* /responsiveness */


