@import '../../../../public/styles/variables';

.product-page {
  padding-top: 70px;
  .product {
	margin-bottom:100px;
	.column {
	  .product-details {
		.product-title {
		  font-size: 30px;
		  margin-bottom: 8px;
		}
		.product-description {
		  font-family: $helvetica-font;
		  line-height: 24px;
		  margin-bottom: 8px;
		}
		.product-price {
		  font-size: 30px;
		  margin-bottom: 12px;
		}
		.product-actions{
		  .save-btn{
			margin-left: 5px;
		  }
		}
		.share{
		  margin-top: 10px;
		  ul{
			li{
			  display: inline-block;
			  margin-right: 8px;
			  a{
				font-size:35px;
				&.facebook{
				  color:$facebook-color;
				}
				&.twitter{
				  color:$twitter-color;
				}
				&.pinterest{
				  color:$pinterest-color;
				}
			  }
			}
		  }
		}
	  }
	}
  }
  .more {
	.row {
	  margin: 0px;
	  .column {
		.more-text{
		  font-size: 16px;
		  padding: 0px 0px 40px 30px;
		}
		.container {
		  width: 100%;
		}
		.banner {
		  margin: 27px 10px 10px 10px;
		}
		&.left {
		  .banner {
			margin-right: 0px;
		  }
		}
		&.right {
		  .banner {
			margin-left: 0px;
		  }
		}
	  }
	}
  }
}
/* responsiveness */

@media (max-width: 1200px) {
  .more .row .column.left{
	display: none;
  }
  .more .row .column.right{
	display: none;
  }
}

@media (max-width: 992px) {
  .product-page{
	padding-top:0px;
	.product{
	  .column{
		padding:20px;
		.carousel-indicators{
		  width:inherit;
		}
	  }
	}
  }
}

/* /responsiveness */
