@import '../../../../public/styles/variables.scss';

.about-us{
  .details{
	padding-top: 100px;
	.row{
	  .image-box{
		.image{
		  display:block;
		  width:95%;
		  height:240px;
		  background: $thumbnail-bg;
		  background-size: cover;
		}
	  }
	  .text{
		font-family: $helvetica-font;
		line-height: 26px;
	  }
	  &.one{
		margin-bottom: 70px;
	  }
	}
  }
}
