.home {
  .row {
	margin: 0px;
	.column {
	  padding: 0px;
	  .container {
		width: 100%;
	  }
	  .banner {
		margin: 10px;
	  }
	  &.left {
		.banner {
		  margin-right: 0px;
		  position:fixed;
		  width: 16%;
		}
	  }
	  &.right {
		.banner {
		  margin-left: 0px;
		  position:fixed;
		  width: 16%;
		}
	  }
	}
  }
}

/* responsiveness */
@media (min-width: 1500px) {
  .home .row .column.left .banner{
	width:230px;
  }
  .home .row .column.right .banner{
	width:230px;
  }
}

@media (max-width: 1200px) {
  .home .row .column.left{
	display: none;
  }
  .home .row .column.right{
	display: none;
  }
}

@media (max-width: 520px) {

}
/* /responsiveness */
