/*fonts*/
$app-font : Oswald,Arial,sans-serif;

/*colors*/
$primary-color: #faab37;
$brand-red : #cb1d00;
$brand-white : #ffffff;

/*text*/
$link-grey-color: #606060;
$link-blue-color: #166ba2;

/*backgrounds*/
$thumbnail-bg : #e6e6e6;

/*border*/
$border-color : #e9e9e9;
