@import '../../../../public/styles/variables.scss';

.footer{
  padding:50px;
  margin-top:100px;
  background-color: $light-bg;
  .title {
	font-size: 18px;
	margin-bottom: 14px;
	font-weight: 700;
  }
  .links{
	ul{
	  li{
		list-style: none;
		a{
		  font-family: $helvetica-font;
		  font-size: 14px;
		  color:$brand-black;
		  line-height: 28px;
		  &:hover{
			color:$primary-color;
		  }
		}
	  }
	}
  }
}
